.DS_Store

*.pyc
*.crt
*.pyd
*.spec
*.pstat
*.tokens

*__pycache__*
.mypy_cache/

# ide folders
.idea/
.vs/
.vscode/

# local dev files
utils/

# build locations
build/
build_win32/
out/
.install/

# third party dependencies
src/third_party/argtable3-3.2.2.f25c624
src/third_party/libiec61850-1.5.1

# test files
log_status.db

# payloads
payloads/*
